.container-login {
    height: 100vh;
    background: url('../../assets/img/loginBanner.png') no-repeat fixed 50%;
    background-size: 100% 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    height: 100vh;
    border-radius: 8px;

    .text-title {
        font-weight: 700;
        font-size: 78px;
        color: rgba(27, 49, 133, .8);
    }

    #normal_login {
        padding: 20px;
        min-width: 450px;
        background: hsla(0, 0%, 100%, .7);
        border: 3px solid #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
        border-radius: 10px;
    }

    .logo-login {
        width: 33%;
        height: 33%;
        float: right;
    }

}